<div class ="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h1>User info</h1>

      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @user do |f| %>
        <label for="inputName">Name</label><br>
        <%= f.text_field :name, autofocus: true, id:"inputName" %><br>
        <label for="inputImage">Image</label>
        <%= f.file_field :profile_image, placeholder: "ファイルを選択", accept: "image/*" %>
        <label for="inputIntroduction">Introduction</label><br>
        <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction" %>
        <%= f.submit "Update User", class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</div>