<div class = "col-md-8 offset-md-1">
    <h1><%= title || "Books" %></h1>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
            <th></th>
        </tr>
            <% books.each do |book| %>
        <tr>
        <td><span><%= link_to(image_tag(book.user.get_profile_image(100, 100)), user_path(book.user)) %></span></td>
        <td><span><%= link_to book.title, book_path(book) %></span></td>
        <td><span><%= book.body %></span></td>
        <td><span>
            <% if book.favorited_by?(current_user) %>
            <%= link_to book_favorites_path(book), method: :delete do %>
                <i class="fas fa-heart" style="color: #001eff;"></i><%= book.favorites.count %>
            <% end %>
            <% else %>
            <%= link_to book_favorites_path(book), method: :post do %>
                <i class="fas fa-heart" style="color: #ff0000;"></i><%= book.favorites.count %>
            <% end %>
            <% end %>
        </span></td>
        <td><span>コメント数:<%= book.book_comments.count %></span></td>
        </tr>
        <% end %>
    </table>
</div>