<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class ="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'book', user: current_user %>
    </div>

    <% if @searched_books.any? %>
      <%= render 'index', books: @searched_books, title: "Searched Books" %>
    <% else %>
      <%= render 'index', books: @books, title: "Books" %>
    <% end %>
  </div>
</div>