<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class ="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'book', user: current_user %>
    </div>

    <div class = "col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table table-striped">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
              <% @books.each do |book| %>
              <tr>
              <td><span><%= link_to(image_tag(book.user.get_profile_image(100, 100)), user_path(book.user)) %></span></td>
              <td><span><%= link_to book.title, book_path(book) %></span></td>
              <td><span><%= book.body %></span></td>
              </tr>
              <% end %>
        </table>
    </div>
  </div>
</div>