<%= render 'book', user: @book.user %>
<div class = 'book_detail'>
  <h1>Book detail</h1>
  <table>
    <tr>
      <td><span><%= image_tag @book.user.get_profile_image(100,100) %></span><br><%= link_to @book.user.name, user_path(@book.user)%></td>
      <td><span><%= link_to @book.title, book_path(@book) %></span></td>
      <td><span><%= @book.body %></span></td>
      <td><span><%= link_to 'Edit', edit_book_path(@book) %></span></td>
      <td><span><%= link_to 'Destroy' %></span></td>
    </tr>
  </table>
</div>